/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 1650px) {
  /*header*/
  .header__select-arrow {
    right: -10%;
  }

  /*  gallery*/
  /*js's work*/
  .gallery__swiper .swiper-slide::before {
    top: 0;
    left: -10px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  /*  magazine*/
  .magazine__content {
    max-width: 630px;
  }

  /*  events*/
  .events-button-next {
    display: none;
  }

  .events-pagination-bullet {
    display: inline-block;
  }

  .events__box > .swiper-pagination-bullets.swiper-pagination-horizontal {
    position: absolute;
    text-align: center;
    bottom: -41px;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
  }

  .swiper-pagination-bullet {
    background: #CACACA;
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet-active {
    background: #666666;
  }
}

@media (max-width: 1440px) {
  /*header*/
  .header__select-wrapper:not(:last-of-type) {
    margin-right: 2.9vw;
  }

  .header__nav {
    margin-right: 8.5%;
  }

  /*  gallery*/
  .gallery-button-prev {
    bottom: 380px;
  }

  .gallery-button-prev:hover {
    bottom: 380px;
  }

  .gallery-button-prev.swiper-button-disabled {
    bottom: 380px;
  }

  .swiper-pagination-fraction {
    bottom: 385px;
  }

  .gallery-button-next {
    bottom: 380px;
  }

  .gallery-button-next:hover {
    bottom: 380px;
  }

  .gallery-button-next.swiper-button-disabled {
    bottom: 380px;
  }

  /*  magazine*/
  .magazine__content {
    max-width: 550px;
  }

  .magazine__accordion {
    width: 52%;
  }

  /*  events*/
  .events__content::before {
    top: -4px;
  }
}

@media (max-width: 1366px) {
  /*  header*/
  .header__select-wrapper:not(:last-of-type) {
    margin-right: 2.5vw;
  }

  /*  gallery*/
  .gallery__swiper .swiper-slide::before {
    left: -15px;
  }

  /*  magazine*/
  .magazine__content {
    max-width: 470px;
  }

  .magazine__accordion {
    width: 57%;
  }
}

@media (max-width: 1200px) {
  /*  header*/
  .header__select {
    width: 70%;
  }

  .header__select-wrapper:not(:last-of-type) {
    margin-right: 0.5vw;
  }

  .header__select-arrow {
    right: 4%;
  }

  /*magazine*/
  .magazine__accordion {
    width: 50%;
  }

  .accordion__column {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
    min-height: 482px;
  }

  /*  events*/
  .events__content {
    top: 10px;
  }

  .events__content::before {
    top: -14px;
  }
}

/*burger*/
@media (max-width: 1024px) {
  .container {
    max-width: 954px;
    padding: 0 15px;
  }

  .modal__picture {
    min-height: 594px;
  }

  .modal__content {
    width: 330px;
  }

  .modal__time {
    margin: 0 0 41px 0;
  }

  /*  header*/
  /*header__nav_toggle*/
  .header__logo {
    margin-right: initial;
  }

  .header__icon {
    width: 188px;
    margin-left: -2.8px;
  }

  .header__top {
    padding: 27.5px 0;
  }

  .header__nav {
    position: absolute;
  }

  .header__toggle {
    display: inline-block;
    position: relative;
    -webkit-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
    width: 35px;
    height: 45px;
    background: transparent;
  }

  .header__span {
    display: block;
    position: absolute;
    width: 28px;
    top: 21px;
    left: -2px;
    right: 7px;
    height: 3.625px;
    background: white;
  }

  .header__span::before,
  .header__span::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3.652px;
    background: white;
  }

  .header__span::before {
    top: -11.5px;
    width: 36px;
  }

  .header__span::after {
    bottom: -13px;
    width: 24px;
  }

  .header__search-input {
    padding: 0;
    margin-right: 0;
  }

  /*  toggle--active*/
  .header__links {
    position: absolute;
    margin: 0;
    left: -50px;
    top: -25px;
    min-width: 100vw;
    height: 100vh;
    z-index: 3;
    overflow-y: auto;
    visibility: hidden;
    -webkit-transform: translateY(-120%);
    -ms-transform: translateY(-120%);
    transform: translateY(-120%);
    -webkit-transition: visibility .3s ease, -webkit-transform .3s ease;
    transition: visibility .3s ease, -webkit-transform .3s ease;
    -o-transition: visibility .3s ease, transform .3s ease;
    transition: visibility .3s ease, transform .3s ease;
    transition: visibility .3s ease, transform .3s ease, -webkit-transform .3s ease;
    background-color: var(--color_background__black);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: normal;
    -ms-flex-pack: normal;
    justify-content: normal;
  }

  .header-nav--active {
    visibility: visible;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: rgba(0, 0, 0, 0.90);;
  }

  .burger--active {
    z-index: 5;
  }

  /*js's work*/
  .burger--active .header__span {
    visibility: hidden;
  }

  .burger--active .header__span::before {
    visibility: visible;
    width: 36px;
    right: 15%;
    left: -4px;
    top: 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: top .3s ease, right .3s ease, -webkit-transform .3s ease;
    transition: top .3s ease, right .3s ease, -webkit-transform .3s ease;
    -o-transition: transform .3s ease, top .3s ease, right .3s ease;
    transition: transform .3s ease, top .3s ease, right .3s ease;
    transition: transform .3s ease, top .3s ease, right .3s ease, -webkit-transform .3s ease;
  }

  .burger--active .header__span::after {
    visibility: visible;
    width: 36px;
    bottom: auto;
    right: 15%;
    left: -4px;
    top: 50%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: top .3s ease, right .3s ease, -webkit-transform .3s ease;
    transition: top .3s ease, right .3s ease, -webkit-transform .3s ease;
    -o-transition: transform .3s ease, top .3s ease, right .3s ease;
    transition: transform .3s ease, top .3s ease, right .3s ease;
    transition: transform .3s ease, top .3s ease, right .3s ease, -webkit-transform .3s ease;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .header-nav--active > .header__link {
    visibility: visible;
    font-size: 24px;
    padding-left: 48px;
    font-weight: 600;
    line-height: 64px;
    margin: 0;
  }

  .header__item {
    padding: 0;
  }

  .header-nav--active .header__link:first-child {
    margin-top: 71px;
  }

  .header__log-in {
    position: absolute;
    visibility: hidden;
    top: -4vh;
    left: 50px;
    padding: 17px 0;
    outline: 2px solid var(--color_btn);
    border-radius: 100px;
    -webkit-transition: top .3s ease;
    -o-transition: top .3s ease;
    transition: top .3s ease;
    min-width: 257px;
  }

  .stop-scroll .header__log-in {
    visibility: visible;
    position: absolute;
    z-index: 3;
    top: 78vh;
  }

  /*  header\responsive search box*/
  .header__search-bottom {
    position: absolute;
    top: -53px;
    right: 0;
    bottom: 0;
    left: 68.5%;
    visibility: hidden;
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transition: visibility .3s ease, -webkit-transform .3s ease;
    transition: visibility .3s ease, -webkit-transform .3s ease;
    -o-transition: transform .3s ease, visibility .3s ease;
    transition: transform .3s ease, visibility .3s ease;
    transition: transform .3s ease, visibility .3s ease, -webkit-transform .3s ease;
  }

  .header__search-close {
    position: absolute;
    left: 75%;
    top: -5px;
    display: inline-block;
  }

  .header__search_visible {
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: background-image .1s ease, visibility 0.3s ease;
    -o-transition: background-image .1s ease, visibility 0.3s ease;
    transition: background-image .1s ease, visibility 0.3s ease;
  }

  .form--block {
    visibility: visible;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .header__search {
    margin-right: 0;
    width: 29.454px;
    height: 28.819px;
    background-image: url("../img/header__search_icon1024.svg");
  }

  .header__search-form {
    width: 67%;
  }

  .header__search.icon--hide {
    visibility: hidden;
  }

  .header__select {
    display: none;
  }

  .form--block > .header__search {
    position: absolute;
    right: 103%;
    top: -11px;
  }

  .header__search:hover {
    background-image: url("../img/header__search_icon1024-active.svg");
  }

  .header__search:focus {
    background-image: url("../img/header__search_icon1024-active.svg");
  }

  .header__search:active {
    background-image: url("../img/header__search_icon1024-active.svg");
  }

  .header__search-input::placeholder {
    color: transparent;
  }

  /*  hero*/
  .hero {
    max-width: 100%;
    padding: 0;
  }

  .hero__title {
    width: 60%;
    font-size: 72px;
    font-weight: 700;
    line-height: normal;
  }

  .hero__descr {
    width: 70%;
    margin: -11px 0 133px 0;
  }

  .hero__btn {
    padding: 24.5px 35px;
  }

  .hero__content {
    padding: 105px 0 0 50px;
  }

  .hero__slider {
    min-height: 668px;
  }

  .hero__slide-first {
    background-image: url("../img/hero__slide_0-1024.jpg");
  }

  .hero__slide-second {
    background-image: url("../img/hero__slide_1-1024.jpg");
  }

  .hero__slide-third {
    background-image: url("../img/hero__slide_2-1024.jpg");
  }

  /*about*/
  .about {
    min-height: 407px;
  }

  .about__descr {
    width: 100%;
  }

  /*gallery */
  .gallery {
    min-height: 560px;
    max-width: 100%;
    margin: 0 0 80px 0;
    background-image: url("../img/gallery_background-1024.jpg");
  }

  .gallery__wrapper {
    width: 924px;
    max-width: 100%;
  }

  .gallery__title {
    padding-top: 80px;
  }

  .gallery__filter-title {
    margin-bottom: 17px;
  }

  .gallery__filter-tab .choices__inner {
    min-height: 38px;
  }

  .gallery__arts {
    left: 330px;
    bottom: -76px;
  }

  /*js's work*/
  .gallery__filter-tab > .choices {
    width: 280px;
  }

  .gallery__filter-tab .choices__list--dropdown {
    width: 280px;
  }

  .gallery__filter-tab .choices[data-type*=select-one]:after {
    left: 248px;
    top: 5px;
  }

  .choices[data-type*=select-one].is-open:after {
    top: 28px;
    bottom: 0;
    left: 258px;
  }

  .gallery__filter-genre {
    margin-bottom: 114px;
  }

  .gallery-button-prev.swiper-button-disabled,
  .gallery-button-next.swiper-button-disabled {
    bottom: 380px;
  }

  .gallery-button-prev {
    left: 1px;
    bottom: 349px;
  }

  .gallery-button-next {
    bottom: 380px;
    left: 101px;
  }

  .gallery-button-next:hover,
  .gallery-button-prev:hover {
    bottom: 349px;
  }

  .swiper-pagination-fraction {
    bottom: 385px;
    left: 42px;
  }

  .gallery__span {
    padding-left: 23px;
  }

  .gallery__span::before {
    left: -1px;
  }

  .gallery__span::after {
    left: 3px;
  }

  .gallery__swiper .swiper-slide::before {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    top: 10px;
    left: -10px;
  }

  .gallery__swiper > .swiper-wrapper > .swiper-slide {
    width: 47.1%;
  }

  /*  magazine*/
  .magazine {
    margin-bottom: 80px;
  }

  .magazine__name {
    margin-bottom: 9px;
  }

  .magazine__date {
    line-height: normal;
    margin-bottom: 15px;
  }

  .magazine__descr {
    width: 100%;
    margin-bottom: 39px;
  }

  .magazine__tabs {
    width: 47.3%;
  }

  .magazine__img {
    margin-bottom: 27px;
  }

  .magazine__accordion {
    width: 47.3%;
  }

  .accordion__control {
    line-height: 24px;
  }

  .accordion__icon {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
  }

  .accordion__name {
    width: 111%;
    text-align: left;
    line-height: 32px;
  }

  .accordion__column {
    columns: 2 150px;
    column-gap: 85px;
    min-height: 434px;
  }

  .accordion--active .accordion__span {
    -webkit-transform: rotate(180deg) translateY(0px);
    -ms-transform: rotate(180deg) translateY(0px);
    transform: rotate(180deg) translateY(0px);
  }

  .null__wrapper {
    min-height: 184px;
  }

  .null__title {
    top: 26px;
    left: 216px;
  }

  .null__title::before {
    width: 172px;
    height: 113px;
    top: 10px;
    left: -207px;
  }

  .null__description {
    left: 216px;
    top: 66px;
    width: 48%;
  }

  .null__reset {
    top: 66px;
    left: 215px;
  }

  /*events*/
  .events {
    margin-bottom: 118px;
  }

  .events__content {
    min-height: 482px;
    padding-right: 34px;
    top: 9px;
    padding-left: 0;
  }

  .events__content::before {
    width: 99.15%;
    top: -13px;
  }

  .events__caption {
    text-align: right;
    margin-bottom: 3px;
    margin-top: 0;
    font-weight: 400;
  }

  .events__descr-first {
    padding-left: 34px;
    margin-bottom: 5px;
  }

  .events__more {
    margin-left: 34px;
    padding-bottom: 1px;
    margin-bottom: 63px;
    width: 88px;
  }

  .events__descr-second {
    padding-left: 34px;
  }

  .events-button-next {
    display: none;
  }


  /*projects*/
  .projects__descr {
    width: 100%;
    margin-bottom: 20px;
  }

  .partners__logo {
    width: 94.6%;
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
  }

  .partners-button-prev {
    bottom: 52px;
  }

  .partners-button-next {
    left: 96.7%;
    bottom: 52px;
  }

  /*  send_us*/
  .send-us {
    max-width: 100%;
    margin: 0;
    padding: 45px 0 42px;
  }

  .send-us__wrapper {
    width: 954px;
    max-width: 100%;
    padding: 0 15px;
  }

  .send-us__span {
    margin-bottom: 5px;
    margin-top: -11px;
  }

  .br1024 {
    display: inline;
  }

  .send-us__p {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .send-us__form {
    margin-bottom: 30px;
  }

  .send-us__input {
    padding: 16px 57px 14px 24px;
  }

  .send-us__callback {
    margin: 0 0 6px 0;
  }

  .btn768 {
    height: 51px;
    font-weight: 700;
    padding: 0 40px;
  }

  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .wh {
    margin-right: 20px;
  }

  /*  footer*/
  .footer__wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__logo {
    margin-left: 1px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__link {
    width: 60px;
    height: 60px;
  }

  .vk {
    margin-right: 16px;
    background-image: url("../img/footer__vk-1024.svg");
  }

  .ok {
    background-image: url("../img/footer__ok-1024.svg");
  }

  .vk:focus {
    background-image: url("../img/footer__vk-1024-focus.svg");
  }

  .vk:hover {
    background-image: url("../img/footer__vk-1024-focus.svg");
  }

  .vk:active {
    background-image: url("../img/footer__vk-1024-active.svg");
  }

  .ok:focus {
    background-image: url("../img/footer__ok-1024-focus.svg");
  }

  .ok:hover {
    background-image: url("../img/footer__ok-1024-focus.svg");
  }

  .ok:active {
    background-image: url("../img/footer__ok-1024-active.svg");
  }
}

@media (max-width: 992px) {
  /*header*/
  .header__links {
    left: -34px;
  }

  /*gallery*/
  .gallery__swiper .swiper-slide::before {
    -webkit-transform: scale(0.77);
    -ms-transform: scale(0.77);
    transform: scale(0.77);
    top: -10px;
    left: -17px;
  }

  /*  magazine*/
  .magazine__accordion {
    width: 48%;
  }

  .accordion__column {
    min-height: 434px;
  }

  .null__title::before {
    width: 160px;
    left: -185px;
  }

  /*  events*/
  .events__content {
    top: 27px;
    min-height: 380px;
  }

  .events__content::before {
    width: 99.6%;
    top: -31px;
  }

  /*  send_us*/
  .form__group {
    margin-bottom: 12px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 718px;
    margin: 0 auto;
    padding: 0 25px;
  }

  /*header*/
  .header__links {
    left: -50px;
  }

  .header__search-bottom {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 21px;
    padding-left: 41px;
    top: -75px;
    left: 6.5%;
    height: 50px;
    background-color: black;
  }

  .header__search-form {
    width: 85%;
  }

  .form--block > .header__search {
    top: 11px;
    right: 96%;
  }

  .header__search-close {
    width: 23px;
    top: 17px;
    left: 89.5%;
  }

  .header__toggle {
    -webkit-transform: translateX(2.5px);
    -ms-transform: translateX(2.5px);
    transform: translateX(2.5px);
  }

  .header-nav--active > .header__link {
    padding-left: 50px;
  }

  /*hero*/
  .hero {
    max-width: 100%;
    padding: 0;
    margin-bottom: 80px;
  }

  .hero__title {
    width: 80%;
    padding-left: 0.8px;
  }

  .hero__descr {
    width: 95%;
    margin-top: -11px;
  }

  .hero__slide-first {
    background-image: url("../img/hero__slide_0-768.jpg");
  }

  .hero__slide-second {
    background-image: url("../img/hero__slide_1-768.jpg");
  }

  .hero__slide-third {
    background-image: url("../img/hero__slide_2-768.jpg");
  }

  /*about*/
  .about {
    margin-bottom: 70px;
  }

  /*    gallery*/
  .gallery {
    max-width: 100%;
    min-height: 889px;
    margin-bottom: 80px;
    background-image: url("../img/gallery_background-768.jpg");
    background-size: auto;
  }

  .gallery__wrapper {
    width: 668px;
    max-width: 100%;
  }

  .gallery__title {
    margin-left: 0.3px;
  }

  .gallery__filter-genre {
    margin-bottom: 48px;
  }

  .gallery__span {
    padding-left: 24px;
  }

  .gallery__arts {
    top: 311px;
    left: 0;
  }

  .gallery__filter-tab > .choices {
    width: 36.46vw;
  }

  .gallery__filter-tab .choices__list--dropdown {
    width: 36.46vw;
  }

  .swiper-pagination-fraction {
    bottom: 35px;
  }

  .gallery-button-prev.swiper-button-disabled {
    bottom: 30px;
  }

  .gallery-button-prev {
    bottom: 30px;
  }

  .gallery-button-next {
    bottom: 30px;
  }

  .gallery-button-next:hover, .gallery-button-prev:hover {
    bottom: 30px;
  }

  .gallery-button-prev.swiper-button-disabled, .gallery-button-next.swiper-button-disabled {
    bottom: 30px;
  }

  .gallery__swiper .swiper-slide::before {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    top: 15px;
    left: 7px;
  }

  /*magazine*/
  .magazine {
    margin-bottom: 79px;
  }

  .magazine__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .magazine__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .magazine__descr {
    margin-bottom: 20px;
  }

  .magazine__content {
    max-width: 668px;
  }

  .magazine__accordion {
    width: 100%;
    margin-bottom: 50px;
  }

  .accordion__column {
    -webkit-column-gap: 71px;
    -moz-column-gap: 71px;
    column-gap: 75px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    min-height: 338px;
  }

  .accordion__name {
    width: 112%;
  }

  .null__wrapper {
    min-height: 235px;
  }

  .null__title {
    top: 65px;
    left: 295px;
  }

  .null__title::before {
    width: 252px;
    left: -283px;
    height: 165px;
    top: -29px;
  }

  .null__description {
    left: 298px;
    top: 103px;
    width: 42%;
  }

  .null__reset {
    top: 102px;
    left: 296px;
  }

  .magazine__tabs {
    width: 100%;
  }

  .magazine__img {
    margin-bottom: 17px;
  }

  .magazine__name {
    margin-bottom: 9px;
  }

  .magazine__date {
    margin-bottom: 6px;
  }

  /*events*/
  .events {
    margin-bottom: 117px;
  }

  .events__content {
    top: 9px;
    min-height: 483px;
    padding-right: 17px;
  }

  .events__descr-second {
    width: 80%;
  }

  .events__content::before {
    width: 99.5%;
    top: -14px;
  }

  .events__box > .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -40px;
    left: 1px;
  }

  /*projects*/
  .projects {
    margin-bottom: 80px;
  }

  .projects__partners-title {
    line-height: normal;
  }

  .projects__descr {
    margin-bottom: 27px;
  }

  .partners {
    width: 87.5%;
    height: 113px;
  }

  .partners__logo {
    width: 263.8px;
    height: 106px;
    -webkit-transform: translate(11px, 6px);
    -ms-transform: translate(11px, 6px);
    transform: translate(11px, 6px);
  }

  .partners-button-prev {
    bottom: 39px;
  }

  .partners-button-next {
    left: 95.5%;
    bottom: 39px;
  }

  /*  send_us*/
  .send-us {
    max-width: 100%;
    padding: 33px 0 42px;
  }

  .send-us__wrapper {
    width: 669px;
    max-width: 100%;
    padding: 0;
  }

  .form {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .btn768 {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 13px 0;
    width: 47.528%;
    height: 50px;
  }

  .send-us__span {
    margin-top: 0;
  }

  .send-us__p {
    margin-bottom: 31px;
  }

  .send-us__callback {
    line-height: 28px;
    margin-bottom: 8px;
  }

  .form__group {
    margin-bottom: 12px;
    margin-right: 52px;
  }

  .send-us__input {
    width: 119.19%;
    padding: 20px 58px 10px 24px;
  }

  .send-us__input::-webkit-input-placeholder {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  .send-us__input::-moz-placeholder {
    transform: translateY(-5px);
  }

  .send-us__input:-ms-input-placeholder {
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  .send-us__input::-ms-input-placeholder {
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  .send-us__input::placeholder {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  .send-us__form {
    margin-bottom: 32px;
  }

  .stop-scroll .header__log-in {
    top: 77.5vh;
  }
}

@media (max-width: 480px) {
  /*  header*/
  .header__links {
    left: -25px;
  }

  /*gallery-modal*/
  .modal__content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .modal__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 290px;
  }

  .modal__content {
    padding: 17px 21px 0 18px;
    min-height: 400px;
    width: 290px;
  }

  .modal__picture {
    min-height: 200px;
  }

  .modal__author {
    display: inline-block;
  }

  .modal__art {
    width: 88%;
    display: inline-block;
  }

  .modal__descr {
    display: inline-block;
  }

  .modal__time {
    margin: 0 0 12px 0;
  }

  /*hero*/
  .hero__title {
    font-size: 50px;
  }

  /*  gallery*/
  .gallery__wrapper {
    width: 90%;
  }

  .gallery__swiper .swiper-slide::before {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    top: -40px;
    left: -60px;
  }

  .gallery__filter-tab .choices[data-type*=select-one]:after {
    left: 140px;
  }

  .choices[data-type*=select-one].is-open:after {
    left: 150px;
  }

  /*  magazine*/
  .accordion__column {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 35px;
    -moz-column-gap: 35px;
    column-gap: 35px;
  }

  .null__title {
    top: 24px;
    left: 114px;
  }

  .null__title::before {
    width: 90px;
    height: 115px;
    top: 6px;
    right: 0;
    bottom: 0;
    left: -110px;
    outline-offset: 5px;
  }

  .null__description {
    left: 114px;
    top: 62px;
    width: 60%;
  }

  .null__reset {
    top: 60px;
    left: 114px;
  }

  /*  events*/
  .events__content {
    min-height: 375px;
  }

  .events__content::before {
    top: -13px;
  }

  /*  send_us*/
  .send-us__wrapper {
    width: 90%;
  }

  .btn768 {
    height: 75px;
    font-weight: 600;
  }
}

@media (max-width: 375px) {
  /*  header*/
  .hero__slider {
    min-height: 355px;
  }

  .hero__content {
    padding: 30px 0 0 35px;
  }

  .hero__title {
    font-size: 32px;
    text-align: center;
    line-height: 44px;
    width: 86%;
    margin-bottom: 3px;
  }

  .hero__descr {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    width: 87%;
    margin: 0 0 42px 0;
  }

  .hero__btn {
    font-size: 12px;
    margin-left: 14.9%;
    padding: 13px 17px;
    margin-bottom: 45px;
  }

  /*gallery*/
  .gallery {
    min-height: 750px;
  }

  .gallery__filter-genre {
    margin-bottom: 85px;
  }

  .gallery__swiper .swiper-slide::before {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    top: -70px;
    left: -85px;
  }

  .footer__wrapper {
    flex-direction: column-reverse;
    justify-content: center;
  }

  /*  magazine*/
  .accordion__column {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .magazine__descr {
    display: none;
  }

  .null__title {
    font-size: 18px;
  }

  .null__title::before {
    width: 76px;
    left: -107px;
  }

  /*  events*/
  .events__content {
    top: 10px;
    min-height: 460px;
  }

  .events__descr {
    padding-left: 22px;
  }

  .events__more {
    margin-left: 34px;
  }

  .events__content::before {
    width: 99.3%;
  }

  .events__box > .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 0;
    bottom: -34px;
  }

  .events__more {
    margin-bottom: 63px;
  }

  /*  partners*/
  .partners__logo {
    width: 229px;
  }

  /*  send_us*/
  .btn768 {
    height: 85px;
  }

  /*  footer*/
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .footer__social {
    margin-bottom: 13px;
  }
}

@media (max-width: 360px) {
  /*header*/
  .header__icon {
    width: 150px;
    margin: 0;
  }

  .header__links {
    left: -39px;
  }

  /*hero*/
  .hero {
    margin-bottom: 50px;
  }

  .hero__btn {
    margin-left: 21%;
  }

  /*gallery*/
  .gallery {
    margin: 0 0 50px 0;
  }

  .gallery__filter-tab > .choices {
    width: 65vw;
  }

  .gallery__filter-tab .choices__list--dropdown {
    width: 65vw;
  }

  .gallery__filter-tab .choices[data-type*=select-one]:after {
    left: 200px;
  }

  .gallery__swiper {
    height: 200px;
  }

  .choices[data-type*=select-one].is-open:after {
    top: 28px;
    bottom: 0;
    left: 210px;
  }

  .gallery__swiper .swiper-slide::before {
    -webkit-transform: scale(0.45);
    -ms-transform: scale(0.45);
    transform: scale(0.45);
    top: -55px;
    left: -74px;
  }

  /*magazine*/
  .magazine {
    margin-bottom: 50px;
  }

  /*  events*/
  .events {
    margin-bottom: 50px;
  }

  .events__content {
    top: 10px;
    min-height: 460px;
  }

  .events__descr-first {
    margin-left: 0;
  }

  .events__content::before {
    top: -15px;
  }

  .events__more {
    margin-left: 34px;
  }

  /*  partners*/
  .partners__logo {
    width: 190px;
  }

  .partners {
    width: 75%;
  }

  .partners-button-next {
    left: 89%;
  }

  .projects {
    margin-bottom: 38px;
  }

  /*  send-us*/
  .send-us {
    margin: 0;
  }

  .btn320 {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 33px;
    color: var(--color_btn);
    border: 2px solid var(--color_btn);
    border-radius: 100px;
    -webkit-transition-property: background-color, color;
    -o-transition-property: background-color, color;
    transition-property: background-color, color;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;

  }

  .btn768 {
    display: none;
  }
}

@media (max-width: 320px) {

  .container {
    max-width: 300px;
    padding: 0 5px;
    margin: 0 auto;
  }

  .title {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .descr {
    font-size: 14px;
    line-height: 28px;
  }

  /*burger*/
  .header__icon {
    width: 96.9px;
  }

  .header__log-in {
    min-width: 111px;
  }

  .header__links {
    top: -18px;
    left: -15px;
  }

  /*header*/
  .header__top {
    padding: 0;
  }

  .header__span::before {
    width: 25px;
    top: -8px;
    height: 2px;
  }

  .header__toggle {
    width: 19px;
    -webkit-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px);
  }

  .header__span {
    width: 16px;
    top: 21px;
    height: 2px;
  }

  .header__span::after {
    width: 10px;
    bottom: -8px;
    height: 2px;
  }

  .header__search_visible {
    top: -1px;
  }

  .header__search {
    width: 18px;
    height: 18px;
    background-image: url("../img/header__search_icon320.svg");
  }

  .header__search:hover {
    background-image: url("../img/header__search_icon320-active.svg");
  }

  .header__search:focus {
    background-image: url("../img/header__search_icon320-active.svg");
  }

  .header__search:active {
    background-image: url("../img/header__search_icon320-active.svg");
  }

  .header__search-bottom {
    top: -34px;
    height: 25px;
    padding-top: 5px;
    padding-left: 35px;
    left: 4%;
  }

  .form--block > .header__search {
    top: 5px;
    right: 91%;
  }

  .header__search-close {
    top: 3px;
    left: 87%;
  }

  .header__search {
    display: inline-block;
    height: 18px;
  }

  .header__search-form {
    width: 80%;
  }

  /*  hero*/
  .hero__slider {
    min-height: 310px;
  }

  .hero {
    max-width: 100%;
    padding: 0;
    margin-bottom: 50px;
  }

  .hero__title {
    line-height: normal;
  }

  .hero__descr {
    font-weight: 400;
  }

  .hero__slide-first {
    background-size: cover;
    background-image: url("../img/hero__slide_0-320.jpg");
  }

  .hero__slide-second {
    background-size: cover;
    background-image: url("../img/hero__slide_1-320.jpg");
  }

  .hero__slide-third {
    background-size: cover;
    background-image: url("../img/hero__slide_2-320.jpg");
  }

  .hero__btn {
    margin-left: 9%;
    padding: 13px 18px;
  }

  /*about*/
  .about {
    margin-bottom: 41px;
  }

  /*  gallery*/
  .gallery {
    max-width: 100%;
    min-height: 800px;
    margin: 0 0 50px 0;
    background-image: url("../img/gallery_background-320.jpg");
  }

  .gallery__wrapper {
    width: 290px;
    max-width: 100%;
  }

  .gallery__title {
    padding-top: 50px;
    margin-bottom: 19px;
  }

  .gallery__filter-title {
    margin-bottom: 12px;
  }

  .gallery__filter-tab > .choices {
    width: 197.2%;
  }

  .gallery__filter-tab .choices__list--dropdown {
    width: 100%;
  }

  .gallery__filter-tab .choices[data-type*=select-one]:after {
    left: 259px;
  }

  .choices[data-type*=select-one].is-open:after {
    left: 270px;
  }

  .gallery__filter-genre {
    margin-bottom: 37px;
  }

  .gallery__filter-time {
    padding: 0;
  }

  .gallery__arts {
    top: 226px;
  }

  .gallery__swiper {
    height: 367px;
  }

  .gallery-button-next {
    bottom: -378px;
    left: 62%;
  }

  .gallery-button-next:hover, .gallery-button-prev:hover {
    bottom: -378px;
  }

  .gallery-button-prev {
    bottom: -378px;
    left: 27.5%;
  }

  .gallery-button-prev.swiper-button-disabled {
    bottom: -378px;
    left: 27.5%;
  }

  .gallery-button-next.swiper-button-disabled {
    left: 62%;
    bottom: -378px;
  }

  .swiper-pagination-fraction {
    bottom: -374px;
    left: 42%;
  }

  .gallery__swiper .swiper-slide::before {
    -webkit-transform: scale(0.8, 1);
    -ms-transform: scale(0.8, 1);
    transform: scale(0.8, 1);
    left: -4px;
    top: 30px;
  }

  .gallery__swiper > .swiper-wrapper > .swiper-slide {
    width: 100%;
  }

  /*magazine*/
  .magazine {
    margin-bottom: 50px;
  }

  .magazine__descr {
    display: none;
  }

  .accordion__control {
    padding: 19px 0;
    line-height: 0;
  }

  .accordion__column {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    padding: 22px 0;
  }

  .accordion__span {
    width: 30px;
    height: 30px;
    background-image: url("../img/magazine__accordion_icon320.png");
  }

  .accordion--active .accordion__control .accordion__span {
    background-image: url("../img/magazine__accordion_icon--active320.png");
  }

  .accordion__control:hover .accordion__span {
    background-image: url("../img/magazine__accordion_icon--active320.png");
  }

  .null__wrapper {
    min-height: 177px;
  }

  .accordion__title {
    font-size: 18px;
    margin-left: 0;
    line-height: 184%;
  }

  .magazine__accordion {
    margin-bottom: 47px;
  }

  .magazine__img {
    margin-bottom: 16px;
  }

  .magazine__name {
    font-size: 24px;
    margin-bottom: 7px;
  }

  .magazine__date {
    margin-bottom: 13px;
  }

  .dash {
    display: none;
  }

  .dash320 {
    display: inline-block;
  }

  .magazine__descr-art {
    font-size: 16px;
    width: 99%;
    line-height: 32px;
    font-weight: 400;
  }

  /*events*/
  .events {
    margin-bottom: 78px;
  }

  .events__content {
    top: 13px;
    min-height: 482px;
  }

  .events__content::before {
    top: -16px;
  }

  .events__caption {
    margin-bottom: 9px;
  }

  .events__descr-first {
    margin-left: 4%;
    width: 85%;
    margin-bottom: 5px;
    padding-left: 12px;
  }

  .events__title320 {
    display: none;
  }

  .events__descr-second {
    padding-left: 23px;
    width: 81%;
  }

  .events__more {
    margin-left: 29px;
    margin-bottom: 66px;
  }

  .events__box > .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -31px;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 7.5px;
  }

  /*projects*/
  .projects__descr {
    margin: 0 0 55px 0;
  }

  .projects__partners-title {
    font-size: 18px;
    margin-bottom: 9px;
  }

  .partners__logo {
    width: 195px;
    height: 65px;
    -webkit-transform: translate(29px, 6px);
    -ms-transform: translate(29px, 6px);
    transform: translate(29px, 6px);
  }

  .partners-button-next {
    left: 92.5%;
  }

  .partners {
    height: 79px;
    width: 88%;
  }

  .partners-button-prev {
    bottom: 25px;
  }

  .partners-button-next {
    left: 89.5%;
    bottom: 22px;
  }


  /*  send_us*/
  .send-us {
    border: none;
    padding: 0 0 19px 0;
  }

  .send-us__wrapper {
    width: 90.5%;
  }

  .send-us__span {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 1px;
  }

  .send-us__p {
    margin-bottom: 21px;
  }

  .send-us__form {
    margin-bottom: 19px;
  }

  .form__group {
    margin-bottom: 20px;
  }


  .send-us__input {
    width: 122%;
    padding: 10px 57px 10px 24px;
  }

  .send-us__input::-webkit-input-placeholder {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  .send-us__input::-moz-placeholder {
    transform: translateY(0px);
  }

  .send-us__input:-ms-input-placeholder {
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }

  .send-us__input::-ms-input-placeholder {
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }

  .send-us__input::placeholder {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }


  .social__link {
    width: 50px;
    height: 50px;
  }

  .send-us__callback {
    font-size: 18px;
    margin-bottom: 7px;
    font-weight: 400;
    line-height: 32px;
  }

  .wh {
    background-image: url("../img/social__link_wh320.svg");
  }

  .tg {
    background-image: url("../img/social__link_tg320.svg");
  }

  /*  footer*/
  .map__space {
    min-height: 320px;
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 0;
    min-height: 133px;
  }

  .footer__link {
    width: 50px;
    height: 50px;
  }

  .vk {
    background-image: url("../img/footer__vk-320.svg");
  }

  .ok {
    background-image: url("../img/footer__ok-320.svg");
  }

  .vk:focus {
    background-image: url("../img/footer__vk-320-focus.svg");
  }

  .vk:hover {
    background-image: url("../img/footer__vk-320-focus.svg");
  }

  .vk:active {
    background-image: url("../img/footer__vk-320-active.svg");
  }

  .ok:focus {
    background-image: url("../img/footer__ok-320-focus.svg");
  }

  .ok:hover {
    background-image: url("../img/footer__ok-320-focus.svg");
  }

  .ok:active {
    background-image: url("../img/footer__vk-320-active.svg");
  }

  .footer__logo-img {
    width: 97px;
  }

  .burger--active .header__span::before {
    top: 0.5px;
    left: -2px;
    width: 20px;
  }

  .burger--active .header__span::after {
    left: -2px;
    width: 20px;
  }

  .header-nav--active .header__link:first-child {
    margin-top: 45px;
  }

  .header__item {
    font-size: 16px;
  }

  .header-nav--active > .header__link {
    font-size: 16px;
    line-height: 25px;
  }

  .header-nav--active > .header__link {
    padding-left: 15px;
    padding-bottom: 7px;
  }

  .stop-scroll .header__log-in {
    font-size: 12px;
    top: 89vh;
    padding: 10px 0;
    left: 17px;
  }
}
